<!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Edition de legume</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- TODO -->
            <!--<link rel="stylesheet" type="text/css" media="screen" href="main.css" />-->
        </head>
        <body>
            <div class="container">
                <h3><a href="/legumes">Liste des légumes</a></h3>
                <h1>Edition d'un légume</h1>
                <!-- TODO styler le form-->
        
                <form action="/legumes/update/<%= legume._id %>" method="POST">
                    <input type="text" name="nom" value="<%= legume.nom %>" />
                    <input type="number" name="prix" value="<%= legume.prix %>" />
                    <input type="submit" value="Mettre à jour" />
                </form>
            </div>
        </body>
        </html>